## The best and the worst movies Part 1

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import HTML
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
df = pd.read_csv('movies_complete.csv',parse_dates=['release_date'])

In [3]:
df.columns

Index(['id', 'title', 'tagline', 'release_date', 'genres',
       'belongs_to_collection', 'original_language', 'budget_musd',
       'revenue_musd', 'production_companies', 'production_countries',
       'vote_count', 'vote_average', 'popularity', 'runtime', 'overview',
       'spoken_languages', 'poster_path', 'cast', 'cast_size', 'crew_size',
       'director'],
      dtype='object')

In [4]:
# created subset of dataframe
df_best = df[['poster_path','title','budget_musd','revenue_musd','vote_count','vote_average','popularity']].copy()
df_best

,poster_path,title,budget_musd,revenue_musd,vote_count,vote_average,popularity
0,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Toy Story,30.00,373.55,5415.00,7.70,21.95
1,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Jumanji,65.00,262.80,2413.00,6.90,17.02
2,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Grumpier Old Men,NaN,NaN,92.00,6.50,11.71
3,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Waiting to Exhale,16.00,81.45,34.00,6.10,3.86
4,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Father of the Bride Part II,NaN,76.58,173.00,5.70,8.39
...,...,...,...,...,...,...,...
44686,<img src='http://image.tmdb.org/t/p/w185//pfC8...,Subdue,NaN,NaN,1.00,4.00,0.07
44687,<img src='http://image.tmdb.org/t/p/w185//xZkm...,Century of Birthing,NaN,NaN,3.00,9.00,0.18
44688,<img src='http://image.tmdb.org/t/p/w185//eGga...,Betrayal,NaN,NaN,6.00,3.80,0.90
44689,<img src='http://image.tmdb.org/t/p/w185//aorB...,Satan Triumphant,NaN,NaN,0.00,NaN,0.00
44690,<img src='http://image.tmdb.org/t/p/w185//oxFE...,Queerama,NaN,NaN,0.00,NaN,0.16

In [5]:
df_best['profit_musd'] = df.revenue_musd.sub(df.budget_musd)
df_best['return'] = df.revenue_musd.div(df.budget_musd)

In [6]:
df_best

,poster_path,title,budget_musd,revenue_musd,vote_count,vote_average,popularity,profit_musd,return
0,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Toy Story,30.00,373.55,5415.00,7.70,21.95,343.55,12.45
1,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Jumanji,65.00,262.80,2413.00,6.90,17.02,197.80,4.04
2,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Grumpier Old Men,NaN,NaN,92.00,6.50,11.71,NaN,NaN
3,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Waiting to Exhale,16.00,81.45,34.00,6.10,3.86,65.45,5.09
4,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Father of the Bride Part II,NaN,76.58,173.00,5.70,8.39,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44686,<img src='http://image.tmdb.org/t/p/w185//pfC8...,Subdue,NaN,NaN,1.00,4.00,0.07,NaN,NaN
44687,<img src='http://image.tmdb.org/t/p/w185//xZkm...,Century of Birthing,NaN,NaN,3.00,9.00,0.18,NaN,NaN
44688,<img src='http://image.tmdb.org/t/p/w185//eGga...,Betrayal,NaN,NaN,6.00,3.80,0.90,NaN,NaN
44689,<img src='http://image.tmdb.org/t/p/w185//aorB...,Satan Triumphant,NaN,NaN,0.00,NaN,0.00,NaN,NaN
44690,<img src='http://image.tmdb.org/t/p/w185//oxFE...,Queerama,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [7]:
df_best.columns = ["","Title","Budget","Revenue","Votes","Avarage Rating","Popularity","Profit","ROI"]

In [8]:
df_best.set_index("Title",inplace=True)

In [9]:
df_best

,,Budget,Revenue,Votes,Avarage Rating,Popularity,Profit,ROI
Title,,,,,,,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,30.00,373.55,5415.00,7.70,21.95,343.55,12.45
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,65.00,262.80,2413.00,6.90,17.02,197.80,4.04
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,NaN,NaN,92.00,6.50,11.71,NaN,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,16.00,81.45,34.00,6.10,3.86,65.45,5.09
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,NaN,76.58,173.00,5.70,8.39,NaN,NaN
...,...,...,...,...,...,...,...,...
Subdue,<img src='http://image.tmdb.org/t/p/w185//pfC8...,NaN,NaN,1.00,4.00,0.07,NaN,NaN
Century of Birthing,<img src='http://image.tmdb.org/t/p/w185//xZkm...,NaN,NaN,3.00,9.00,0.18,NaN,NaN
Betrayal,<img src='http://image.tmdb.org/t/p/w185//eGga...,NaN,NaN,6.00,3.80,0.90,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.00,NaN,0.00,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [10]:
df_best.iloc[0,0]

"<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>"

In [11]:
subset = df_best.iloc[:5,:2]
subset

,,Budget
Title,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,30.00
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,65.00
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,16.00
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,NaN

In [12]:
subset.to_html(escape=False)

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Budget</th>\n    </tr>\n    <tr>\n      <th>Title</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Toy Story</th>\n      <td><img src=\'http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg\' style=\'height:100px;\'></td>\n      <td>30.00</td>\n    </tr>\n    <tr>\n      <th>Jumanji</th>\n      <td><img src=\'http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg\' style=\'height:100px;\'></td>\n      <td>65.00</td>\n    </tr>\n    <tr>\n      <th>Grumpier Old Men</th>\n      <td><img src=\'http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg\' style=\'height:100px;\'></td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Waiting to Exhale</th>\n      <td><img src=\'http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg\' style=\'height:100px;\'></td>\n      <td>16.00</td>\n    </tr>\n    <tr>\n      <th>Father of the Bride Part II</th>\n      <td><img src=\'http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg\' style=\'height:100px;\'></td>\n      <td>NaN</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
HTML(subset.to_html(escape=False))

In [14]:
df_best.sort_values(by="Avarage Rating",ascending= False)

,,Budget,Revenue,Votes,Avarage Rating,Popularity,Profit,ROI
Title,,,,,,,,
Portrait of a Young Man in Three Movements,NaN,NaN,NaN,1.00,10.00,0.04,NaN,NaN
Brave Revolutionary,<img src='http://image.tmdb.org/t/p/w185//zAb2...,NaN,NaN,1.00,10.00,0.32,NaN,NaN
Other Voices Other Rooms,<img src='http://image.tmdb.org/t/p/w185//4ifP...,NaN,NaN,1.00,10.00,0.04,NaN,NaN
The Lion of Thebes,<img src='http://image.tmdb.org/t/p/w185//tdOc...,NaN,NaN,1.00,10.00,1.78,NaN,NaN
Katt Williams: Priceless: Afterlife,<img src='http://image.tmdb.org/t/p/w185//wKrH...,NaN,NaN,2.00,10.00,0.48,NaN,NaN
...,...,...,...,...,...,...,...,...
Altar of Fire,<img src='http://image.tmdb.org/t/p/w185//iJ78...,NaN,NaN,0.00,NaN,0.00,NaN,NaN
The Wonders of Aladdin,<img src='http://image.tmdb.org/t/p/w185//AvfX...,NaN,NaN,0.00,NaN,0.09,NaN,NaN
Deep Hearts,<img src='http://image.tmdb.org/t/p/w185//8jI4...,NaN,NaN,0.00,NaN,0.01,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.00,NaN,0.00,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [15]:
df_best.sort_values(by = 'ROI',ascending=False)

,,Budget,Revenue,Votes,Avarage Rating,Popularity,Profit,ROI
Title,,,,,,,,
Less Than Zero,<img src='http://image.tmdb.org/t/p/w185//1GY0...,0.00,12.40,77.00,6.10,4.03,12.40,12396383.00
Modern Times,<img src='http://image.tmdb.org/t/p/w185//7uoi...,0.00,8.50,881.00,8.10,8.16,8.50,8500000.00
Welcome to Dongmakgol,<img src='http://image.tmdb.org/t/p/w185//5iGV...,0.00,33.58,49.00,7.70,4.22,33.58,4197476.62
AquÃ­ Entre Nos,<img src='http://image.tmdb.org/t/p/w185//oflx...,0.00,2.76,3.00,6.00,0.23,2.76,2755584.00
"The Karate Kid, Part II",<img src='http://image.tmdb.org/t/p/w185//mSne...,0.00,115.10,457.00,5.90,9.23,115.10,1018619.28
...,...,...,...,...,...,...,...,...
Subdue,<img src='http://image.tmdb.org/t/p/w185//pfC8...,NaN,NaN,1.00,4.00,0.07,NaN,NaN
Century of Birthing,<img src='http://image.tmdb.org/t/p/w185//xZkm...,NaN,NaN,3.00,9.00,0.18,NaN,NaN
Betrayal,<img src='http://image.tmdb.org/t/p/w185//eGga...,NaN,NaN,6.00,3.80,0.90,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.00,NaN,0.00,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [16]:
df_best.loc[df_best.Budget >= 5].sort_values(by='ROI', ascending= False)

,,Budget,Revenue,Votes,Avarage Rating,Popularity,Profit,ROI
Title,,,,,,,,
E.T. the Extra-Terrestrial,<img src='http://image.tmdb.org/t/p/w185//cBfk...,10.50,792.97,3359.00,7.30,19.36,782.47,75.52
My Big Fat Greek Wedding,<img src='http://image.tmdb.org/t/p/w185//3TB2...,5.00,368.74,686.00,6.20,6.72,363.74,73.75
Star Wars,<img src='http://image.tmdb.org/t/p/w185//6FfC...,11.00,775.40,6778.00,8.10,42.15,764.40,70.49
Jaws,<img src='http://image.tmdb.org/t/p/w185//s2xc...,7.00,470.65,2628.00,7.50,19.73,463.65,67.24
Crocodile Dundee,<img src='http://image.tmdb.org/t/p/w185//kiwO...,5.00,328.20,512.00,6.30,7.79,323.20,65.64
...,...,...,...,...,...,...,...,...
The Blonde with Bare Breasts,<img src='http://image.tmdb.org/t/p/w185//zBjp...,7.50,NaN,3.00,4.00,0.88,NaN,NaN
Detroit,<img src='http://image.tmdb.org/t/p/w185//7APL...,34.00,NaN,67.00,7.30,9.80,NaN,NaN
"Good Guys Go to Heaven, Bad Guys Go to Pattaya",<img src='http://image.tmdb.org/t/p/w185//cfVB...,5.40,NaN,153.00,5.30,5.61,NaN,NaN
The Visitors: Bastille Day,<img src='http://image.tmdb.org/t/p/w185//kBlm...,25.87,NaN,167.00,4.00,7.29,NaN,NaN
House of the Long Shadows,<img src='http://image.tmdb.org/t/p/w185//21ZG...,7.50,NaN,18.00,6.10,1.19,NaN,NaN

In [17]:
df_best.Budget.fillna(0, inplace = True)
df_best.Votes.fillna(0,inplace=True)

In [18]:
df_best.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44691 entries, Toy Story to Queerama
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0                   44467 non-null  object
 1   Budget          44691 non-null  float64
 2   Revenue         7385 non-null   float64
 3   Votes           44691 non-null  float64
 4   Avarage Rating  42077 non-null  float64
 5   Popularity      44691 non-null  float64
 6   Profit          5371 non-null   float64
 7   ROI             5371 non-null   float64
dtypes: float64(7), object(1)
memory usage: 3.1+ MB

In [19]:
def best_worst(n,by,ascending=False,min_bud=0,min_votes=0):
    df2 = df_best.loc[(df_best.Budget >=min_bud) & (df_best.Votes >= min_votes), 
                     ["", by]].sort_values(by=by,ascending=ascending).head(n).copy()
    return HTML(df2.to_html(escape=False))

### The best and the worst movies Part 2

#### Movies top 5 - Highest Revenue

In [20]:
best_worst(n = 5,by="Revenue")

#### Movie Top 5- Highest Budget

In [21]:
best_worst(5,"Budget")

In [22]:
best_worst(5,"Profit")

#### Movie Top 5 - Lowest Profit

In [23]:
best_worst(5,"Profit",ascending=True)

#### Movie Top 5 - Highest ROI

In [24]:
best_worst(5,"ROI",ascending=True,min_bud=50)

#### Movie Top 5 - Lowest ROI

In [25]:
best_worst(5,"ROI",ascending=True,min_bud=10)

#### Movie top 5 - Most Votes

In [26]:
best_worst(5,"Votes")

#### Movie Top 5 - Highest Rating

In [27]:
best_worst(5,"Avarage Rating", min_votes=0)

#### Movies Top 5 - Lowest Rating

In [28]:
best_worst(5,"Avarage Rating",ascending=True,min_votes=0)

In [29]:
best_worst(5,"Avarage Rating",ascending=True,min_votes=20,min_bud=0)

#### Movie Top 5 - Most Populer

In [30]:
best_worst(5,"Popularity")

## Find your next Movie

#### Search 1: Science Fiction Action movie with bruce willis (High Rating)

In [31]:
df.genres[0]

'Animation|Comedy|Family'

In [32]:
mask_genres = df.genres.str.contains("Action") & df.genres.str.contains("Science Fiction")
mask_genres

0        False
1        False
2        False
3        False
4        False
         ...
44686    False
44687    False
44688    False
44689    False
44690    False
Name: genres, Length: 44691, dtype: bool

In [33]:
df.cast[0]

'Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette'

In [34]:
mask_actor = df.cast.str.contains("Bruce Willis")
mask_actor

0        False
1        False
2        False
3        False
4        False
         ...
44686    False
44687    False
44688    False
44689    False
44690      NaN
Name: cast, Length: 44691, dtype: object

## Find your next Movie

#### Search 1: Science Fiction Action Movie with Bruce Willis (high Rating)

In [35]:
df.genres[0]

'Animation|Comedy|Family'

In [36]:
mask_genres = df.genres.str.contains("Action") & df.genres.str.contains("Science Fiction")
mask_genres

0        False
1        False
2        False
3        False
4        False
         ...
44686    False
44687    False
44688    False
44689    False
44690    False
Name: genres, Length: 44691, dtype: bool

In [37]:
df.cast[0]

'Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette'

In [38]:
mask_actor = df.cast.str.contains("Bruce Willis")
mask_actor

0        False
1        False
2        False
3        False
4        False
         ...
44686    False
44687    False
44688    False
44689    False
44690      NaN
Name: cast, Length: 44691, dtype: object

In [39]:
df.loc[mask_actor & mask_genres, ["title", "vote_average"]].sort_values(by = "vote_average", 
                                                                        ascending = False)

                       title  vote_average
1448       The Fifth Element          7.30
19218                 Looper          6.60
1786              Armageddon          6.50
14135             Surrogates          5.90
20333  G.I. Joe: Retaliation          5.40
27619                   Vice          4.10

In [40]:
bruce = df.loc[mask_actor & mask_genres, ["title", "poster_path", "vote_average"]].sort_values(by = "vote_average", ascending = False).set_index("title")

In [41]:
HTML(bruce.to_html(escape=False))

#### Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (low runtime)

In [42]:
df.director

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
44686    Hamid Nematollah
44687            Lav Diaz
44688      Mark L. Lester
44689    Yakov Protazanov
44690       Daisy Asquith
Name: director, Length: 44691, dtype: object

In [43]:
mask_director = df.director == "Quentin Tarantino"

In [44]:
mask_actor = df.cast.str.contains("Uma Thurman")

In [46]:
quentin = df.loc[mask_director & mask_actor,["title", "poster_path", "runtime"]].sort_values(by = "runtime").set_index("title")

In [47]:
HTML(quentin.to_html(escape=False))

#### Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (high Revenue)

In [48]:
df.production_companies[1]

'TriStar Pictures|Teitler Film|Interscope Communications'

In [49]:
mask_studio = df.production_companies.str.contains("Pixar").fillna(False)

In [50]:
df.release_date

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
44686          NaT
44687   2011-11-17
44688   2003-08-01
44689   1917-10-21
44690   2017-06-09
Name: release_date, Length: 44691, dtype: datetime64[ns]

In [51]:
mask_time = df.release_date.between("2010-01-01", "2015-12-31")

In [52]:
pixar = df.loc[mask_studio & mask_time,["title", "poster_path", "revenue_musd", "release_date"]].sort_values(by = "revenue_musd", ascending = False).set_index("title")

In [53]:
HTML(pixar.to_html(escape=False))

#### Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent)

In [54]:
mask_genre = df.genres.str.contains("Action") | df.genres.str.contains("Thriller")

In [55]:
mask_lan = df.original_language == "en"

In [56]:
mask_vote_av = df.vote_average >= 7.5

In [57]:
mask_vote_co = df.vote_count >= 10

In [58]:
next_mov = df.loc[mask_genre & mask_lan & mask_vote_av & mask_vote_co,["title", "poster_path", "genres", "vote_average", "vote_count", "release_date"]].sort_values(by = "release_date", ascending = False).set_index("title").head(20)

In [59]:
HTML(next_mov.to_html(escape=False))

## Are Franchises more successful?

In [73]:
df.belongs_to_collection

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
44686                               NaN
44687                               NaN
44688                               NaN
44689                               NaN
44690                               NaN
Name: belongs_to_collection, Length: 44691, dtype: object

In [74]:
df["Franchise"] = df.belongs_to_collection.notna()

In [75]:
df.Franchise

0         True
1        False
2         True
3        False
4         True
         ...
44686    False
44687    False
44688    False
44689    False
44690    False
Name: Franchise, Length: 44691, dtype: bool

In [76]:
df.Franchise.value_counts()

False    40228
True      4463
Name: Franchise, dtype: int64

#### Franchise vs. Stand-alone: Average Revenue

In [77]:
df.groupby("Franchise").revenue_musd.mean()

Franchise
False    44.74
True    165.71
Name: revenue_musd, dtype: float64

#### __Franchise vs. Stand-alone: Return on Investment / Profitability__

In [78]:
df["ROI"] = df.revenue_musd.div(df.budget_musd)

In [79]:
df.groupby("Franchise").ROI.median()

Franchise
False   1.62
True    3.71
Name: ROI, dtype: float64

#### Franchise vs. Stand-alone: Average Budget

In [80]:
df.groupby("Franchise").budget_musd.mean()

Franchise
False   18.05
True    38.32
Name: budget_musd, dtype: float64

#### Franchise vs. Stand-alone: Average Popularity

In [81]:
df.groupby("Franchise").popularity.mean()

Franchise
False   2.59
True    6.25
Name: popularity, dtype: float64

#### Franchise vs. Stand-alone: Average Rating

In [82]:
df.groupby("Franchise").vote_average.mean()

Franchise
False   6.01
True    5.96
Name: vote_average, dtype: float64

In [83]:
df.groupby("Franchise").agg({"budget_musd": "mean", "revenue_musd": "mean", "vote_average": "mean","popularity": "mean", "ROI":"median", "vote_count":"mean"})

,budget_musd,revenue_musd,vote_average,popularity,ROI,vote_count
Franchise,,,,,,
False,18.05,44.74,6.01,2.59,1.62,78.29
True,38.32,165.71,5.96,6.25,3.71,412.39